<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/app.css">


    {% if title %}
        <title>{{ title }} | Do IT</title>
    {% else %}
        <title>Welcome to Do IT</title>
    {% endif %}
</head>

<body>
<div style="display: inline;">
    <div style="float: left;">Do IT: <a href="/index">Home</a></div>
    <div style="float: right;">
    {% if current_user.is_authenticated %}
          <b>{{ current_user.username }}</b> <a  href="{{ url_for('logout') }}">LOG OUT</a>
    {% endif %}
    </div>
    <hr style="clear: both;">
    </div>
    {% block content %}{% endblock %}

    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>